<!DOCTYPE html>
<html>
<head>
	<title>login</title>

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
	 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="../template/layout.html">Reto Bit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../template/layout.html">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../template/login.html" >Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

	<div class="row text-center" style="margin: 20px 50px" >
		<div class="col-md-6 col-offset-3 ">
			<form class="form-group">
  				<label >Usuario:</label>
  					<input type="text" class="form-control" id="usr">
			</form>
				<form class="form-group">
  					<label >Password:</label>
  						<input type="password" class="form-control" id="pwd">
				</form>

				<div class="form-group">
  					<button type = "submit" class = "btn btn-primary"> Login </button>
				</div>

			</div>
		</div>

 	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

</body>
</html>